/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 118, 34);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
    color: #111f9b;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other content */
    transition: top 0.3s; /* Add smooth transition effect */
}

.logo img {
    width: 300px;
    height: auto;
    display: block;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline;
    margin-right: 100px;
}

.main-nav ul li a {
    font-size: 20px;
    font-weight: bold;
    color: #111f9b;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.menu-toggle img {
    display: none;
    padding: 10px 20px; /* Adjust padding to increase button size */
    height: 50px;
    width: 50px;
    color: #111f9b;
}

/* Side Navigation */
#sideNav {
    margin-top: 75px;
    width: 250px;
    height: auto;
    background-color: #111f9b;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    overflow: hidden;
    transition: left 0.3s ease;
    z-index: 1000;
}

#sideNav ul {
    list-style: none;
    padding: 0;
}

#sideNav ul li {
    padding: 10px 20px;
}

#sideNav ul li a {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#sideNav ul li a:hover {
    text-decoration: underline;
}

.home-section {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    margin-bottom: 100px;
}

.home-card {
    background-color: #ffffff; /* Card background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    padding: 20px; /* Padding inside the card */
    max-width: 600px; /* Limit width to prevent stretching on larger screens */
    margin: 0 auto; /* Center the card horizontally */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content {
    z-index: 1;
}

.content h1 {
    color: #111f9b;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.content p {
    color: #111f9b;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 40px;
}

.book-button {
    background-color: #111f9b;
    color: white;
    border: 2px solid #111f9b;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
    border-radius: 50px;
}

.book-button:hover {
    background-color: rgb(245, 118, 34);
    border-color: white;
}

.servicesheader {
    align-items: center;
}

.servicesheader h1 {
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
    color: #111f9b;
    padding-bottom: 30px;

}

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

.services-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
    margin-top: 200px;
    height: auto;
}


.service-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Adjust width as needed */
    align-items: center;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.service-card:hover {
    transform: translateY(-10px); /* Move the card up slightly on hover */
    box-shadow: 0 0 20px rgb(12, 46, 156);
}

.service-card img {
    align-items: center;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.service-info {
    padding: 20px;
}

.service-info h2 {
    margin-top: 0;
    text-align: center;
}

.service-info p {
    margin-bottom: 0;
}

.home-contact {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url('images/contactbg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home-contact h1 {
    padding-top: 400px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.contact-container {
    margin-top: 700px;
    background-color: white;
    max-width: 100%;
    padding: 0 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.contact-container h1 {
    padding-top: 50px;
    font-size: 2rem;
    color: #111f9b;
    text-align: center;
    margin-bottom: 30px;
}

.contact-details {
    padding-bottom: 20px;
    display: block;
    justify-content: space-around;
}

.contact-item {
    text-align: center;
    margin-bottom: 30px;
}

.contact-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 1.2rem;
    color: #555;
}

.home-about {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url('images/contactbg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home-about h1 {
    padding-top: 400px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.about-container {
    margin-top: 700px;
    background-color: white;
    max-width: 100%;
    padding: 0 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.about-container h1 {
    padding-top: 50px;
    font-size: 2rem;
    color: #111f9b;
    text-align: center;
    margin-bottom: 30px;
}

.about-details {
    padding-bottom: 20px;
    display: block;
    justify-content: space-around;
}

.about-item {
    text-align: center;
    margin-bottom: 30px;
}

.about-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-item p {
    font-size: 1.2rem;
    color: #555;
}

.home-services {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url('images/contactbg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home-services h1 {
    padding-top: 400px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
   
}

.services-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
    margin-top: 800px;
}


.service-card2 {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px; /* Adjust width as needed */
    align-items: center;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.service-card2:hover {
    transform: translateY(-10px); /* Move the card up slightly on hover */
    box-shadow: 0 0 20px rgb(12, 46, 156);
}

.service-card2 img {
    align-items: center;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.service-info {
    padding: 20px;
}

.service-info h2 {
    margin-top: 0;
    text-align: center;
}

.service-info p {
    margin-bottom: 0;
}




footer {
    margin-top: 60px;
    background-color:#111f9b;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info, .footer-links {
    flex: 1;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}






/* Media Queries */
@media (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .menu-toggle img {
        display: block;
        padding: 10px 20px; /* Increase padding for larger screens */
        height: 50px;
        width: 50px;
    }

    #sideNav {
        width: 200px;
    }
    .sidenav {
        width: 100%;
    }

    .logo img {
        max-width: 80%;
    }
    .home-section {
        height: auto;
        padding-top: 150px;
    }

    .home-card {
        max-width: 60%; /* Adjust width for smaller screens */
        height: auto;
    }

    .background-image {
        height: 1000px; /* Adjust height as needed */
        position: absolute;
        width: 100%;
        background-image: url('bg2.jpg');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    .home-services {
        height: 1200px;
        margin-bottom: 500px;
    }

    .content h1 {
        padding-top: 50px;
        font-size: 25px;
    }

    .content p {
        font-size: 17px;
    }

    .book-button {
        margin-top: 100px;
        font-size: 1rem;
        padding: 8px 16px;
    }
    .services-section {
        margin-top: 30px;
         /* Adjust margin for smaller screens */
    }

    .prev, .next {
        font-size: 16px; /* Adjust font size for navigation arrows */
        padding: 12px; /* Adjust padding for navigation arrows */
    }

    .services-section {
        height: auto;
        padding: 10px;
    }
    
    .service-card {
        width: calc(50% - 10px);
    }

    .service-card img {
        align-items: center;
        width: 100%;
        height: 180px;
        border-bottom: 1px solid #ddd;
    }
    .service-card2 {
        width: calc(50% - 10px);
    }

    .service-card2 img {
        align-items: center;
        width: 100%;
        height: 180px;
        border-bottom: 1px solid #ddd;
    }
    .service-info p {
        margin-bottom: 0;
    }

    .servicesheader h1 {
        padding-top: 100px;
        margin-top: 300px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: #111f9b;
    
    }

    .service-info h2 {
        margin-top: 0;
        text-align: center;
        font-size: 17px;
    }
   

    .contact-details {
        align-items: center;
    }

    .contact-item {
        margin-bottom: 20px;
    }

    .about-card {
        margin: 10px;
        padding: 15px;
    }

    .container-footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-info, .footer-links {
        margin-bottom: 20px;
    }
}

/* Media Queries for Larger Screens (such as iPads) */
@media (min-width: 769px) and (max-width: 1024px) {
    .main-nav ul li {
        margin-right: 50px; /* Reduce margin between navigation items */
    }

    .main-nav ul li a {
        font-size: 17px;
        font-weight: bold;
        color: #111f9b;
        text-decoration: none;
    }

    .background-image {
        height: 1400px; /* Adjust height as needed */
       
    }

    .servicesheader h1 {
        margin-top: 530px; /* Adjust margin for header */
        padding-top: 100px;
    }

    .service-card {
        width: calc(33.33% - 20px); /* Adjust width for service cards */
    }

    .service-card img {
        height: 200px; /* Adjust height for service card images */
    }
    .service-info p {
        margin-bottom: 0;
        font-size: 17px;
        font-weight: bold;
    }

    .about-us-box {
        max-width: 90%; /* Adjust maximum width for about us box */
    }
}


